
reionizationparams_extraction/.ipynb_checkpoints/reionizationparams_extraction-checkpoint.py
/21cm_simulation/_cache
*/output/*2024*
21cm_simulation/.DS_Store
.DS_Store
/21cm_simulation/__pycache__
21cm_simulation/data/brightness_temp_6.dat
ps-c/data/brightness_temp_14.dat
ps-c/output/ps_6.dat
ps-c/ps_gk.o
ps-c/ps_gk
21cm_simulation/cursor_test.py
21cm_simulation/output/bt*pkl
21cm_simulation/data/3953639.zip
21cm_simulation/data/7.059n_all.dat
21cm_simulation/data/7.059v_all.dat
21cm_simulation/data/Nant.npy
21cm_simulation/data/README
21cm_simulation/data/uv_map.npy
21cm_simulation/data/xfrac3d_7.059.bin
21cm_simulation/.ipynb_checkpoints/p21cm_powerspectrum-checkpoint.ipynb
