
reionizationparams_extraction/.ipynb_checkpoints/reionizationparams_extraction-checkpoint.py
/21cm_simulation/_cache
21cm_simulation/output/ps-2024*
21cm_simulation/.DS_Store
.DS_Store
/21cm_simulation/__pycache__
21cm_simulation/data/brightness_temp_6.dat
ps-c/data/brightness_temp_14.dat
ps-c/output/ps_6.dat
ps-c/ps_gk.o
ps-c/ps_gk
21cm_simulation/cursor_test.py
